.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo .logo-part {
  color: var(--cloud);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
